@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Roboto, sans-serif;
}
.first {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    display: flex;
    background-color: #3882F6;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 120px;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

 .placeholder {
    display: flex;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;
    margin: 16px 122px;
}   

.links {
    display: flex;
    gap: 18px;
}

h1 { 
    font-size: 48px;
    margin: 0;
}
h2 {
    font-size: 18px;
} 
/* i know theres a way to combine that ok */
/*
.second {
    color: #1F2937;
    font-size: 20px;
}

.boxes {
    border: 40px;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
*/