@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.first {
    flex-direction: column;
}

.first, .fifth {
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
}

.logo {
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.button-one, .button-two {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    color: #E5E7EB;
    font-weight: bold;
}

.button-one {
    background-color: #3882F6;
    margin-top: 10px;
    border-style: none;
}

.hero {
    display: flex;
    gap: 40px;
    margin: 120px 200px;

}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

 .placeholder {
    display: flex;
    background-color: gray;
    color: white;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;
    margin: 16px 200px;
}   

.links {
    display: flex;
    gap: 18px;
}

h1 { 
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: lighter;
} 

/* second section */ 

.second {
    display: inline;
}

.second-header {
    display: flex;
    justify-content: center;
    padding: 22px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.information {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 68px; 
}

.boxes {
    height: 130px;
    width: 130px;
    border: 4px;
    border-radius: 8px;
    border-color: #3882F6;
    border-style: solid;
    margin-bottom: 6px;
}

.box-wrapper {
    text-align: center;
    max-width: 148px;
}  

/* third section */

.third {
    display: flex;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    height: 480px;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-style: normal;
}

.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* fourth section */

.fourth {
    display: flex;
    justify-content: center;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 28cm;
    height: 3.2cm;
    border-radius: 5px;
    margin: 68px 200px;
}

.button-two {
    border: 2px;
    border-color: #E5E7EB;
    background-color: #3882F6;
    border-style: solid;
}

.action-content {
    display: flex;
    align-items: center;
    color: #E5E7EB;
    gap: 200px;
}

.action-left {
    display: inline;
}

h3 {
    margin: 0px;
}

/* fifth section */

.fifth {
    height: 75px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}